<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ericsson.cgc.aurora.wifiindoor"
    android:versionCode="17"
    android:versionName="1.8.1" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />  
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />  
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NFC" /> 
    <uses-permission android:name="android.permission.CAMERA" /> 
    <uses-permission android:name="android.permission.FLASHLIGHT"/>    
    
    <permission
        android:name="com.ericsson.cgc.aurora.wifiindoor.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
	<uses-permission android:name="com.ericsson.cgc.aurora.wifiindoor.permission.MAPS_RECEIVE"/>
	
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	
	<uses-feature android:glEsVersion="0x00020000" android:required="true"/>
	<uses-feature android:name="android.hardware.nfc" android:required="true" />
	
	<uses-feature android:name="android.hardware.camera"/>
	<uses-feature android:name="android.hardware.camera.autofocus"/>

    <!-- Set minSdkVersion=10 to support NFC, set targetSdkVersion=10 to support MENU button -->
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />
   
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        
        <!-- License for Google Map API V2 -->
        <meta-data 
            android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyAuydDXgQ8wEAIeGqgOTQDX0xdF2LVvGb8"/>
        
        <!-- The application's publisher ID assigned by AdMob -->
        <meta-data android:value="a1522d82412d977" android:name="ADMOB_PUBLISHER_ID" />

        <activity android:name="com.google.ads.AdActivity"
				  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        
        <activity 
            android:name="com.winjune.wifiindoor.GMapEntryActivity" 
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
			<intent-filter>
			  <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
			  <data android:mimeType="text/plain" />
			</intent-filter>		
			
			<intent-filter>
			  <action android:name="android.nfc.action.TAG_DISCOVERED"/>
			  <category android:name="android.intent.category.DEFAULT" />
			</intent-filter>  
			
			<intent-filter>
			  <action android:name="android.nfc.action.TECH_DISCOVERED"/>
			  <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
			                android:resource="@xml/nfc_tech_filter" /> 
			</intent-filter>
			
		</activity>
        
        <activity 
            android:name="com.winjune.wifiindoor.EntryActivity" 
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden"
			android:theme="@android:style/Theme.NoTitleBar"> 
			<!-- android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			android:screenOrientation="landscape" -->
		</activity><activity android:name="com.winjune.wifiindoor.MapSelectorActivity" android:theme="@android:style/Theme.NoTitleBar" android:configChanges="orientation|keyboardHidden" android:label="@string/app_name">
        </activity><activity android:name="com.winjune.wifiindoor.MapLocatorActivity" android:theme="@android:style/Theme.NoTitleBar" android:configChanges="orientation|keyboardHidden" android:label="@string/app_name">
        </activity>
		
        
        
        
        
        <activity
            android:name="com.winjune.wifiindoor.MapViewerActivity"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:largeHeap="@bool/largeheap"
			android:launchMode="singleTop" > 
			<intent-filter>
			  <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
			  <data android:mimeType="text/plain" />
			</intent-filter>		
			
			<intent-filter>
			  <action android:name="android.nfc.action.TAG_DISCOVERED"/>
			  <category android:name="android.intent.category.DEFAULT" />
			</intent-filter>  
			
			<intent-filter>
			  <action android:name="android.nfc.action.TECH_DISCOVERED"/>
			  <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
			                android:resource="@xml/nfc_tech_filter" /> 
			</intent-filter>
			          
        </activity>
        
        <activity
            android:name="com.winjune.wifiindoor.QrScannerActivity"          
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        
        <activity
            android:name="com.winjune.wifiindoor.TunerActivity"
            android:screenOrientation="landscape" 
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <activity
            android:name="com.winjune.wifiindoor.InfoPusherActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        
        <activity
            android:name="com.winjune.wifiindoor.NavigatorActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        
        <activity
            android:name="com.winjune.wifiindoor.InterestPlaceViewerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        
    </application>

</manifest>
